node_modules/
dist/

# Local .env* files
.env.local
.env.*.local

# Assets
test/assets/pdf/GSTESTPDF21/postel.pdf
test/assets/pdf/GSTESTPDF21/invoice.pdf
test/assets/*.html
test/assets/.~lock*

# Log files
*.log

# PDF and XLSX files
public/pdf/
public/xlsx/
